<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scuec.restaurant.dao.AttendanceDao">

    <!-- 定义的映射关系 -->
    <resultMap id="BaseResultMap" type="com.scuec.restaurant.entities.Attendance">
        <id column="a_id" property="attendanceId"/>
        <result column="a_type"  property="attendanceType"/>
        <result column="a_date"  property="attendanceDate"/>
        <result column="a_userid"  property="userId"/>
        <result column="a_start"  property="attendanceStarte"/>
        <result column="a_finish"  property="attendanceFinish"/>
        <result column="a_isdel"  property="attendanceDel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        a_id, a_type, a_date, a_userid, a_start, a_finish, a_isdel
    </sql>



    <insert id="addStart">
        insert into `attendance` value(#{attendanceId}, 0, now(), #{userId}, now(), null, 0)
    </insert>


    <insert id="addLeave" >
        insert into `attendance` value(#{attendanceId}, 1, now(), #{userId}, null, null, 0)
    </insert>


    <update id="updateFinish">
        update `attendance`
        <trim suffixOverrides=",">
        set a_isdel=1,
        </trim>
        where a_id = #{attendanceId};

    </update>


    <update id="deleteAttendance">
        update `attendance`
        <trim suffixOverrides=",">
            set a_finish=now(),
        </trim>
        where a_id = #{attendanceId};

    </update>

</mapper>