<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scuec.restaurant.dao.OrderDao">

    <!-- 基础映射关系 -->
    <resultMap id="BaseResultMap" type="com.scuec.restaurant.entities.Order">
        <id column="orderid" property="orderId"/>
        <result column="tableno"  property="tableNo"/>
        <result column="o_status"  property="orderStatus"/>
        <result column="price"  property="orderPrice"/>
        <result column="orderdate"  property="orderDate"/>
        <!--订单与订单关联表一对多，collection将被封装成一个List-->
        <collection property="orderdetail"
                    ofType="com.scuec.restaurant.entities.Orderdetail"
                    column="orderId"
                    select="getOrderDetail">
        </collection>
    </resultMap>

    <!-- OrderDetail映射关系 -->
    <resultMap id="OrderDetailResultMap" type="com.scuec.restaurant.entities.Orderdetail">
        <id column="mdid" property="odId"/>
        <result column="md_orderid"  property="orderId"/>
        <result column="md_foodid"  property="foodId"/>
        <result column="md_amount"  property="odAmount"/>
        <result column="md_price"  property="odPrice"/>
        <result column="md_status"  property="odStatus"/>
        <result column="md_isdel"  property="odDel"/>
        <!--订单关联表与菜品多对一，association将被封装成一个object，可考虑使用延迟加载从而提高性能-->
        <association property="menu" javaType="com.scuec.restaurant.entities.Menu">
            <id column="m_foodid" property="foodId"/>
            <result column="m_type"  property="menuType"/>
            <result column="m_name"  property="menuName"/>
            <result column="m_price"  property="menuPrice"/>
            <result column="m_img"  property="menuImg"/>
            <result column="m_popular"  property="menuPopular"/>
            <result column="m_isdel"  property="menuDel"/>
        </association>
    </resultMap>

    <!--菜品列表-->
    <resultMap id="FoodResultMap" type="com.scuec.restaurant.entities.vo.FoodVO">
        <id column="mdid" property="mdId"/>
        <result column="orderid"  property="orderId"/>
        <result column="foodid"  property="foodId"/>
        <result column="md_amount"  property="foodAmount"/>
        <result column="md_status"  property="foodStatus"/>
        <result column="t_no"  property="tableName"/>
        <result column="o_status"  property="orderStatus"/>
        <result column="orderdate"  property="orderDate"/>
        <result column="m_type"  property="foodType"/>
        <result column="m_name"  property="foodName"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        orderid, tableno, o_status, price, orderdate,foodid
    </sql>

    <update id="updateOrdersta">
        update `m_order`
        <trim suffixOverrides=",">
            set o_status="已上菜",
        </trim>
        where orderid = #{orderId};

    </update>


    <update id="updateOrdersta1">
        update `m_order`
        <trim suffixOverrides=",">
            set o_status="已付款",
        </trim>
        where orderid = #{orderId};

    </update>

    <insert id="addOrder">
        insert into `m_order` value(#{orderId}, #{tableNo}, #{orderStatus}, #{orderPrice}, now())
    </insert>


    <!--    IPage<Order> getOrderList(@Param("page") Page<Order> page,
        String orderStatus,
        String startDate,
        String endDate);-->
    <select id="getOrderList" resultMap="BaseResultMap" resultType="com.scuec.restaurant.entities.Order">
        SELECT
            mr.orderid,
            mr.tableno,
            mr.o_status,
            mr.price,
            mr.orderdate
        FROM
            m_order mr
        <where>
            <if test="orderStatus != null and orderStatus != ''">
                mr.o_status = #{orderStatus}
            </if>
            <if test=" startDate != null and startDate != ''">
                <!--使用<![CDATA[]]>来转义，否则<和>报错-->
                <![CDATA[and DATE_FORMAT(mr.orderdate,'%Y-%m-%d') >= #{ startDate }]]>
            </if>
            <if test="endDate != null and endDate != ''">
                <![CDATA[and DATE_FORMAT(mr.orderdate,'%Y-%m-%d') <= #{ endDate }]]>
            </if>
        </where>
        ORDER BY mr.orderdate DESC
    </select>

    <!-- 查询OrderDetail -->
    <select id="getOrderDetail" resultMap="OrderDetailResultMap">
        SELECT
            md.mdid,
            md.orderid AS md_orderid,
            md.foodid AS md_foodid,
            md.md_amount,
            md.md_price,
            md.md_status,
            md.isdel AS md_isdel,
            mu.foodid AS m_foodid,
            mu.m_type,
            mu.m_name,
            mu.m_price,
            mu.m_img,
            mu.m_popular
        FROM
            (
                SELECT
                    mdid,
                    orderid,
                    foodid,
                    md_amount,
                    md_price,
                    md_status,
                    isdel
                FROM
                    md_relation
                WHERE
                    orderid = #{ orderId }
            ) md
        LEFT JOIN menu mu ON md.foodid = mu.foodid
    </select>

    <select id="">
        select * from
    </select>


    <select id="getOrderBytableId" resultMap="BaseResultMap" resultType="com.scuec.restaurant.entities.Order">
        select m.* from m_order m where tableno= #{tableId} and o_status = '未上菜';
    </select>

    <update id="updateOrderByorderId">
        update m_order set m_order.price=#{orderPrice} where orderid = #{orderId};
    </update>

    <select id="getOrderPrice" resultMap="BaseResultMap" resultType="com.scuec.restaurant.entities.Order">
        select m.price from m_order m where orderid= #{orderId};
    </select>

<!--    IPage<FoodVO> getFoodList(@Param("page") Page<Order> page,
    String menuType,
    String menuName,
    String startDate,
    String endDate);-->
    <select id="getFoodList" resultMap="FoodResultMap" resultType="com.scuec.restaurant.entities.vo.FoodVO">
        SELECT
            md.mdid,
            md.orderid,
            md.foodid,
            md.md_amount,
            md.md_status,
            tr.t_no,
            mr.o_status,
            mr.orderdate,
            mu.m_type,
            mu.m_name
        FROM
            `md_relation` md
        INNER JOIN m_order mr ON md.orderid = mr.orderid
        LEFT JOIN menu mu ON md.foodid = mu.foodid
        LEFT JOIN table_rest tr ON mr.tableno = tr.t_id
        WHERE
            md.isdel = 0
        <if test="foodStatus != null and foodStatus != -1">
            AND md.md_status = #{ foodStatus }
        </if>
        <if test="menuType != null and menuType != ''">
            AND mu.m_type = #{ menuType }
        </if>
        <if test="menuName != null and menuName != ''">
            AND mu.m_name like '%${ menuName }%'
        </if>
        <if test=" startDate != null and startDate != ''">
            <!--使用<![CDATA[]]>来转义，否则<和>报错-->
            <![CDATA[AND DATE_FORMAT(mr.orderdate,'%Y-%m-%d') >= #{ startDate }]]>
        </if>
        <if test="endDate != null and endDate != ''">
            <![CDATA[AND DATE_FORMAT(mr.orderdate,'%Y-%m-%d') <= #{ endDate }]]>
        </if>
        ORDER BY mr.orderdate desc
    </select>


</mapper>