<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scuec.restaurant.dao.UserDao">

    <!-- 定义的映射关系 -->
    <resultMap id="BaseResultMap" type="com.scuec.restaurant.entities.User">
        <id column="empid" property="uId"/>
        <result column="loginname"  property="loginName"/>
        <result column="pwd"  property="password"/>
        <result column="realname"  property="realName"/>
        <result column="position"  property="role"/>
        <result column="phone"  property="phone"/>
        <result column="isdel"  property="idDel"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        empid, loginname, pwd, realname, position, phone, isdel
    </sql>

    <!--int insertUser(@Param("userName") String userLoginName, @Param ("userPassword") String userPwd, String userRealName, int userRole, String userPhone);-->
    <insert id="insertUser">
        insert into `employee` value(null, #{userName}, #{userPassword}, #{userRealName}, #{userRole}, #{userPhone}, 0)
    </insert>

    <!--int updateUser();-->
    <update id="updateUser">
        update `employee` set realname = '张三' where empid = 7;
    </update>

    <!--int deleteUser();-->
    <delete id="deleteUser">
        delete from `employee` where empid = 7;
    </delete>

    <!--User getUserById();-->
    <!--
    resultType：默认实体映射关系
    resultMap：自定义的映射关系,字段不一样，只需要自定义的resultMap的id即可
    -->
    <select id="getUserById" resultMap="BaseResultMap" resultType="com.scuec.restaurant.entities.User">
        select * from `employee` where empid= #{userId};
    </select>

    <!--List<User> getAllUser();-->
    <select id="getAllUser" resultType="com.scuec.restaurant.entities.User">
        select * from `employee`;
    </select>

    <!--Integer getUserCount();-->
    <select id="getUserCount" resultType="java.lang.Integer">
        select count(*) from `employee`;
    </select>

</mapper>
