<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scuec.restaurant.dao.UserDao">

    <!-- 定义的映射关系 -->
    <resultMap id="BaseResultMap" type="com.scuec.restaurant.entities.User">
        <result column = "id"  property="id"/>
        <result column = "lastName"  property="lastName"/>
        <result column = "age"  property="age"/>
        <result column = "boss"  property="boss"/>
        <result column = "birth"  property="birth"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="BaseColumnList">
        id, name, passward
    </sql>
    <!--通过调用的方法名去匹配-->
    <insert id="insertPerson">
        insert into person values(null, '李四', 22, true, current_date )
    </insert>

    <!--int updatePerson();-->
    <update id="updatePerson">
        update person set lastname = '张三' where id = 1;
    </update>

    <!--int deletePerson();-->
    <delete id="deletePerson">
        delete from person where id = 1;
    </delete>

    <!--User getPersonById();-->
    <!--
    resultType：默认实体映射关系
    resultMap：自定义的映射关系,字段不一样，只需要自定义的resultMap的id即可
    -->
    <select id="getPersonById" resultType="com.scuec.restaurant.entities.Person">
        select * from person where id=2;
    </select>

    <!--List<User> getAllPerson();-->
    <select id="getAllPerson" resultType="com.scuec.restaurant.entities.Person">
        select * from person;
    </select>

    <!--Integer getPersonCount();-->
    <select id="getPersonCount" resultType="java.lang.Integer">
        select count(*) from person;
    </select>

</mapper>
